{% if org.whatsapp %}
  <a href="{{ org.whatsapp }}"
     class="whatsapp-button d-flex align-items-center justify-content-center position-fixed start-0 bottom-0 mb-3 ms-3">
    <i class="bi bi-whatsapp"></i>
  </a>
  <a href="tel:{{ org.primary_phone.as_e164 }}"
     class="call-float {% if org.primary_phone %}d-flex{% else %}d-none{% endif %} align-items-center justify-content-center position-fixed start-0 bottom-0 ms-3"
     style="margin-bottom: 4rem">
    <i class="bi bi-telephone"></i>
  </a>
{% else %}
  <a href="tel:{{ org.primary_phone.as_e164 }}"
     class="call-float {% if org.primary_phone %}d-flex{% else %}d-none{% endif %} align-items-center justify-content-center position-fixed start-0 bottom-0 mb-3 ms-3">
    <i class="bi bi-telephone"></i>
  </a>
{% endif %}
