{% load static %}
<section id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <!-- <h2></h2> -->
    <!-- <p></p> -->
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-6">
        <img src="{% static 'home/img/about.jpg' %}"
             width=""
             height=""
             class="img-fluid"
             alt="">
      </div>
      <div class="col-lg-6 content">
        <h3>Delivering Stationery Supplies.</h3>
        <p class="fst-italic">BigPen is trusted by over 2,900 schools in Kenya since 19th March, 2018.</p>
        <ul>
          <li>
            <i class="bi bi-check2-all"></i> <span>BigPen guarantees to deliver your orders in less than 24 hours.</span>
          </li>
          <li>
            <i class="bi bi-check2-all"></i> <span>We dodge traffic jams and long queues therefore saving your time.</span>
          </li>
          <li>
            <i class="bi bi-check2-all"></i> <span>We offer FREE delivery WITHIN Nairobi.</span>
          </li>
        </ul>
        <p>
          <!-- Online BigPen is a reliable supplier of dustless chalks, primary school exams, assessment books, printed schemes of
          work, printed lesson plans, receipt books, diaries, class registers, holiday homework revision books, school uniforms,
          PP2 graduation certificates and PP2 graduation gowns, and much more. -->
        </p>
      </div>
    </div>
  </div>
</section>
