{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="theme-color" content="{{ org.theme_color }}" />
    <meta name="author" content="{{ org_fullname }}" />
    <meta name="description" content="{{ org_motto }}" />
    <meta name="keywords" content="{{ org_fullname }}" />
    <meta name="twitter:card" content="{{ org_motto }}" />
    <meta name="twitter:site" content="{{ org.website }}" />
    <meta name="twitter:title" content="{{ org_fullname }}" />
    <meta name="twitter:description" content="{{ org_motto }}" />
    <meta name="twitter:image" content="{% static 'home/img/logo.png' %}" />
    <meta name="twitter:image:alt" content="{{ org_fullname }}" />
    <meta property="og:url" content="{{ org.website }}" />
    <meta property="og:site_name" content="{{ org_fullname }}" />
    <meta property="og:title" content="{{ org_fullname }}" />
    <meta property="og:image" content="{% static 'home/img/logo.png' %}" />
    <meta property="og:locale" content="en_GB" />
    <!-- title -->
    {% if page_title %}
      {% with page_title|last as last_crumb %}
        {% if last_crumb.label %}
          <title>{{ last_crumb.label }} | {{ org_fullname }}</title>
        {% else %}
          <title>{{ last_crumb }} | {{ org_fullname }}</title>
        {% endif %}
      {% endwith %}
    {% else %}
      <title>{{ org_fullname }}</title>
    {% endif %}
    <!-- Favicons & Webmanifest -->
    <link href="{% static 'home/img/favicon.ico' %}" rel="icon" />
    <link href="{% static 'home/img/apple-touch-icon.png' %}"
          rel="apple-touch-icon" />
    <!-- Vendor CSS Styles -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" />
    <link href="{% static 'home/vendor/bootstrap-icons/bootstrap-icons.min.css' %}"
          rel="stylesheet" />
    <link href="{% static 'home/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link rel="stylesheet"
          href="{% static 'home/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'home/vendor/drift/drift-basic.css' %}">
    <!-- Core CSS Style -->
    <link href="{% static 'home/global.css' %}" rel="stylesheet" />
    <!-- Other  CSS Styles -->
    {% block styles %}
    {% endblock styles %}
    <!-- Vendor JS Scripts -->
    <script defer
            src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'home/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script defer src="{% static 'home/vendor/aos/aos.js' %}"></script>
    <script defer
            src="{% static 'home/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script defer
            src="{% static 'home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script defer src="{% static 'home/vendor/drift/Drift.min.js' %}"></script>
    <!-- Init JS Scripts -->
    <script defer src="{% static 'home/init/aos.js' %}"></script>
    <script defer src="{% static 'home/init/glightbox.js' %}"></script>
    <script defer src="{% static 'home/init/swiper.js' %}"></script>
    <script defer src="{% static 'home/init/drift.js' %}"></script>
    <!-- Core JS Script -->
    <script defer src="{% static 'home/global.js' %}"></script>
    <!-- Other JS Scripts -->
    {% block scripts %}
    {% endblock scripts %}
  </head>
  <body>
    <!-- ======= Header ======= -->
    {% if has_header %}
      {% include 'home/sections/header.html' %}
    {% endif %}
    <!-- ======= Main ======= -->
    <main id="main">
      <!-- Other main sections -->
      {% block inner_main %}
      {% endblock inner_main %}
    </main>
    <!-- ======= Footer ======= -->
    {% if has_footer %}
      {% include 'home/sections/footer.html' %}
    {% endif %}
    <!-- ======= Back To Top Arrow ======= -->
    {% include 'home/widgets/back-to-top.html' %}
    <!-- ======= Whatsapp button & Call Button ======= -->
    {% include 'home/widgets/whatsapp-call-us.html' %}
    <!-- ======= Preloader ======= -->
    {% include 'home/widgets/preloader.html' %}
  </body>
</html>
